#include<stdio.h>

//Ramon Emanuel Zazueta Lopez

main()
{

int return_value;
	int numero;
	
	    scanf("%d", &numero);

		
	
		printf("\nProceso padre \n");
		{
		            int suma = 0;
        for(int i = 0; i <= numero; i++){
        suma = suma + i;
        }
    
    printf("La Sumatoria de %d es %d \n", numero, suma);
		}
		printf("\n Proceso hijo \n");
		{
		            int fac = 1;
    for(int i = 1; i <= numero; i++){
        fac = fac * i;
    }
    
    printf("El Factorial de %d es %d \n", numero , fac);
		}
        
}